#right-collumn{
	order:2;
	flex-grow:3;
	min-width:600px;
	height:600px;
	background: red;
	display: flex;
	flex-direction: column;
	&>*{
		width: 80%;
		margin:0 auto;
		padding:5px;
	}
}

#set-gesture-name{
	margin:20px auto;
	height: 30px;
	position: relative;
}

#set-gesture-window{
	display: flex;
	flex-direction: row;
	margin-top:20px;
	height:400px;
	background: green;
	position: relative;
	justify-content: center;
}
$keyheight: 50px;
.key{
	width: 80px;
	height:$keyheight;
	background: cyan;
	margin:60px 40px;
	border-radius: 2px;
	text-align: center;
	line-height: $keyheight;
}

#first{
	order: 1;
}
#secound{
	order: 2;
	
}
#third{
	order: 3;
}